

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>赋值已知数据 - 数据表格</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="keywords" content="keyword1,keyword2,keyword3"></meta>
    <meta name="description" content="this is my page"></meta>
    <meta name="content-type" content="text/html; charset=UTF-8"></meta>
    <link rel="stylesheet" th:href="@{/static/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/layuiadmin/style/admin.css}" media="all">
    <script th:src="@{/static/ueditor/ueditor.config.js}"></script>
    <script th:src="@{/static/ueditor/ueditor.all.min.js}"></script>
    <script th:src="@{/static/ueditor/lang/zh-cn/zh-cn.js}"></script>
    <script type="text/javascript">

        //实例化编辑器
        //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
        var ue = UE.getEditor('editor');


        function isFocus(e){
            alert(UE.getEditor('editor').isFocus());
            UE.dom.domUtils.preventDefault(e)
        }
        function setblur(e){
            UE.getEditor('editor').blur();
            UE.dom.domUtils.preventDefault(e)
        }
        function insertHtml() {
            var value = prompt('插入html代码', '');
            UE.getEditor('editor').execCommand('insertHtml', value)
        }
        function createEditor() {
            enableBtn();
            UE.getEditor('editor');
        }
        function getAllHtml() {
            alert(UE.getEditor('editor').getAllHtml())
        }
        function getContent() {
            var arr = [];
            arr.push("使用editor.getContent()方法可以获得编辑器的内容");
            arr.push("内容为：");
            arr.push(UE.getEditor('editor').getContent());
            alert(arr.join("\n"));
        }
        function getPlainTxt() {
            var arr = [];
            arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
            arr.push("内容为：");
            arr.push(UE.getEditor('editor').getPlainTxt());
            alert(arr.join('\n'))
        }
        function setContent(isAppendTo) {
            var arr = [];
            arr.push("使用editor.setContent('欢迎使用ueditor')方法可以设置编辑器的内容");
            UE.getEditor('editor').setContent('欢迎使用ueditor', isAppendTo);
            alert(arr.join("\n"));
        }
        function setDisabled() {
            UE.getEditor('editor').setDisabled('fullscreen');
            disableBtn("enable");
        }

        function setEnabled() {
            UE.getEditor('editor').setEnabled();
            enableBtn();
        }

        function getText() {
            //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
            var range = UE.getEditor('editor').selection.getRange();
            range.select();
            var txt = UE.getEditor('editor').selection.getText();
            alert(txt)
        }

        function getContentTxt() {
            var arr = [];
            arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
            arr.push("编辑器的纯文本内容为：");
            arr.push(UE.getEditor('editor').getContentTxt());
            alert(arr.join("\n"));
        }
        function hasContent() {
            var arr = [];
            arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
            arr.push("判断结果为：");
            arr.push(UE.getEditor('editor').hasContents());
            alert(arr.join("\n"));
        }
        function setFocus() {
            UE.getEditor('editor').focus();
        }
        function deleteEditor() {
            disableBtn();
            UE.getEditor('editor').destroy();
        }
        function disableBtn(str) {
            var div = document.getElementById('btns');
            var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
            for (var i = 0, btn; btn = btns[i++];) {
                if (btn.id == str) {
                    UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
                } else {
                    btn.setAttribute("disabled", "true");
                }
            }
        }
        function enableBtn() {
            var div = document.getElementById('btns');
            var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
            for (var i = 0, btn; btn = btns[i++];) {
                UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
            }
        }

        function getLocalData () {
            alert(UE.getEditor('editor').execCommand( "getlocaldata" ));
        }

        function clearLocalData () {
            UE.getEditor('editor').execCommand( "clearlocaldata" );
            alert("已清空草稿箱")
        }
    </script>
</head>
<body>

    <form th:action="@{/views/addCommodity}" id="form" method="POST" name="form">
    <input type="hidden" th:value="${commodity.getId()}" name="id">
    <div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">
        <div class="layui-form-item">
            <label class="layui-form-label">商品名称</label>
            <div class="layui-input-inline">
                <input type="text" th:value="${commodity.comname}" name="comname" lay-verify="required" placeholder="请输入商品名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否上架</label>
            <div class="layui-input-inline">
                <select name="isout" lay-filter="LAY-user-adminrole-type">
                    <option th:selected="${commodity.getIsout()==1}" value="1">上架</option>
                    <option th:selected="${commodity.getIsout()==0}" value="0">下架</option>
                </select>

            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否推荐</label>
            <div class="layui-input-inline">
                <select name="reecom" lay-filter="LAY-user-adminrole-type">
                    <option th:selected="${commodity.getReecom()==0}" value="0">不推荐</option>
                    <option th:selected="${commodity.getReecom()==1}" value="1">推荐到首页</option>
                    <option th:selected="${commodity.getReecom()==2}" value="2">精选</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品类别</label>
            <div class="layui-input-inline">

                <select name="category" lay-filter="LAY-user-adminrole-type">
                    <option th:selected="${commodity.getCategory() eq cate.getCategoryname()}" th:each="cate,stat:${cateList}" th:text="${cate.getCategoryname()}" th:value="${cate.getCategoryname()}"></option>

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品图片</label>

                <img th:src="@{${commodity.getImgurl()}}" class="layui-upload-img uploandImg" id="demo1" style="width: 10em;height: 10em;">
            <button type="button" class="layui-btn uploandButton" id="test1">上传图片</button>
            <input type="text" class="imgurl" th:value="${commodity.getImgurl()}" name="imgurl"/>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品用户</label>
            <div class="layui-input-inline">
                <input type="text" th:value="${commodity.getComUser()}" name="comUser"  placeholder="请上传图片" autocomplete="off" class="layui-input" >
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">用户图片</label>

            <img th:src="@{${commodity.getUserImg()}}" class="layui-upload-img uploandImg" style="width: 10em;height: 10em;">
            <button type="button" class="layui-btn uploandButton" >上传图片</button>
            <input type="text" class="userImg" th:value="${commodity.getUserImg()}" name="userImg"/>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品云盘路径</label>
            <div class="layui-input-inline">
                <input type="text" th:value="${commodity.getComurl()}" name="comUrl"  placeholder="请输入云盘地址" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品提取码</label>
            <div class="layui-input-inline">
                <input type="text" th:value="${commodity.getComCode()}" name="comCode"  placeholder="请输入提取码" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">商品详情</label>
            <div class="">


                <textarea id="editor" th:value="${commodity.getDetails()}" name="details"  style="width: 90%;height: 40em;"></textarea>
            </div>
        </div>

        <div class="layui-form-item">

            <input type="submit" class="layui-btn" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit" value="确认">
        </div>
    </div>
    </form>

 <script th:src="@{/static/layuiadmin/layui/layui.all.js}" charset="utf-8"></script>
<script>
    layui.config({
        base: '[[@{/static/layuiadmin/}]]' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function(){
        //展示已知数据
    }).use('jquery', function(){
        var $= layui.jquery
        function test() {
            alert(1234);
        }
    }).use('upload', function() {
        var $ = layui.jquery
            , upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '.uploandButton'
            ,url: '/downloanCon/uploadFile' //改成您自己的上传接口
            ,before: function(obj){

                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){

                    $(".uploandImg").attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){

                alert($(this).next().next().text());
                $(this).next().val("测试");
               // $(".imgurl").val(res.fileUrl);
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
    })
</script>
</body>
</html>