

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>赋值已知数据 - 数据表格</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="keywords" content="keyword1,keyword2,keyword3"></meta>
    <meta name="description" content="this is my page"></meta>
    <meta name="content-type" content="text/html; charset=UTF-8"></meta>
    <link rel="stylesheet" th:href="@{/static/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/layuiadmin/style/admin.css}" media="all">
    <script th:src="@{/static/ueditor/ueditor.config.js}"></script>
    <script th:src="@{/static/ueditor/ueditor.all.min.js}"></script>
    <script th:src="@{/static/ueditor/lang/zh-cn/zh-cn.js}"></script>
    <script type="text/javascript">


    </script>
</head>
<body>
<div th:utext="${commodity.details}" class="details}"></div>

 <script th:src="@{/static/layuiadmin/layui/layui.all.js}" charset="utf-8"></script>
    <script th:src="@{/static/js/jquery-3.0.0.js}" charset="utf-8"></script>
<script>


</script>
</body>
</html>