

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>赋值已知数据 - 数据表格</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="keywords" content="keyword1,keyword2,keyword3"></meta>
    <meta name="description" content="this is my page"></meta>
    <meta name="content-type" content="text/html; charset=UTF-8"></meta>
    <link rel="stylesheet" th:href="@{/static/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/layuiadmin/style/admin.css}" media="all">

    <script type="text/javascript">


    </script>
</head>
<body>

    <input type="hidden" th:value="${orderInfo.getId()}" name="id">
    <div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">
        <div class="layui-form-item">
            <label class="layui-form-label">商品名称</label>
            <div class="layui-input-inline">
                <input type="text" th:value="${orderInfo.commodity.comname}" name="comname" lay-verify="required" placeholder="请输入商品名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">购买时间</label>
            <div class="layui-input-inline">
                <input type="text" th:value="${#dates.format(orderInfo.buytime, 'yyyy-MM-dd HH:mm:ss')}" name="comname" lay-verify="required" placeholder="请输入商品名称" autocomplete="off" class="layui-input">

            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">充值金额</label>
            <div class="layui-input-inline">
                <input type="text" th:value="${orderInfo.buymoney}" name="comname" lay-verify="required" placeholder="请输入商品名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">购买用户</label>
            <div class="layui-input-inline">
                <input type="text" th:value="${orderInfo.userInfo.account}" name="comname" lay-verify="required" placeholder="请输入商品名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">订单编号</label>
            <div class="layui-input-inline">
                <input type="text" th:value="${orderInfo.ordernum}" name="comname" lay-verify="required" placeholder="请输入商品名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">购买数量</label>
            <div class="layui-input-inline">
                <input type="text" th:value="${orderInfo.orderamount}" name="comUser"  placeholder="请上传图片" autocomplete="off" class="layui-input" >
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">单价</label>
            <div class="layui-input-inline">
                <input type="text" th:value="${orderInfo.orderunit}" name="comname" lay-verify="required" placeholder="请输入商品名称" autocomplete="off" class="layui-input">            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">订单总金额</label>
            <div class="layui-input-inline">
                <input type="text" th:value="${orderInfo.orderprice}" name="comUrl"  placeholder="请输入云盘地址" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">支付状态</label>
            <div class="layui-input-inline">
                <input type="text" th:value="${orderInfo.paystate}" name="comCode"  placeholder="请输入提取码" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">支付时间</label>
            <div class="layui-input-inline">
                <input type="text" th:value="${#dates.format(orderInfo.paytime, 'yyyy-MM-dd HH:mm:ss')}" name="comCode"  placeholder="请输入提取码" autocomplete="off" class="layui-input">
            </div>
        </div>

        <!--<div class="layui-form-item">

            <input type="submit" class="layui-btn" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit" value="确认">
        </div>-->
    </div>

<script th:src="@{/static/layuiadmin/layui/layui.js}"></script>
<script>
    layui.config({
        base: '[[@{/static/layuiadmin/}]]' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function(){
        //展示已知数据

    });
</script>
</body>
</html>