<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>量子科技 (QCOOL) - 新手互动平台 - 打开量子科技，发现更好的源码！</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script th:src="@{/static/js/jquery-1.10.2.min.js}"></script>
    <script th:src="@{/static/js/jquery-migrate-1.2.1.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <script type="text/javascript" async="" th:src="@{/static/js/vds.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/main.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/index.css}">
    <link rel="stylesheet" th:href="@{/static/css/personalProfile.css}">
    <link th:href="@{/static/css/style.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/static/layuiadmin/layui/css/layui.css}" />
    <script th:src="@{/static/layuiadmin/layui/layui.all.js}"></script>
    <!-- 这个js是公共的 -->
    <script th:src="@{/static/js/common.js}" type="text/javascript" charset="utf-8"></script>
    <style>
        .noclear{clear: none}
    </style>
</head>
<body>
<div id="body">
    <header id="zHeader">

    </header>
    <main class="main-wrapper">
        <div class="container-area">
            <div class="container-area-left">
                <div class="card-media personal-card">
                    <div class="avatar-container-80 z-center">
                        <a href="#" title="xiashiwole" class="author-avatar" target="_blank" z-st="user_card_1_face">
                            <img src="https://static.zcool.cn/git_z/z/images/boy.png" srcset="https://static.zcool.cn/git_z/z/images/boy.png 2x" width="80" height="80" title="xiashiwole" alt="">
                        </a>

                    </div>
                    <div class="presonal-info">
                        <a href="#" class="author-name" target="_blank" title="xiashiwole" z-st="user_card_1_name">xiashiwole</a>
                    </div>
                    <div class="position-info">
        <span title="北京 | 设计爱好者">北京&nbsp;|
          设计爱好者

        </span>
                    </div>
                    <div class="btn-area">

                        <a href="#"  class="btn-default-main card-media-mid-btn js-upload">开始创作</a><br>


                        <a href="" target="_blank" class="btn-default-secondary card-media-mid-btn mt-10">帮你的创作变现</a>
                    </div>

                </div>
                <div class="card-media personal-menu">
                    <ul class="menu-list">
                        <li class="menu-list-default current">
                            <i></i><a href="javascript:;" id="Collection">我的收藏</a></li>
                    </ul>
                    <ul class="menu-list">
                        <li class="menu-list-default">
                            <i></i><a href="javascript:;" id="left-data-account-focus">资料与账号</a></li>
                    </ul>
                </div>
                <!-- 消息列表左侧zhan广告 -->
                <div class="ad-media-list">
                    <a href="#" target="_blank"><img src="//static.zcool.cn/git_z/z/images/hellorf-ad.png" alt="海洛品牌广告"></a>
                </div>
            </div>
            <div class="container-area-right p-relative " id="CollectionBox">
                <div class="middle-title-wrap bg-box-radius">
                    <h2 class="middle-title">我的收藏</h2>
                </div>
                <div class="work-list-box mt-20">
                    <section class="container">
                        <div class="card-box">
                            <div class="card-img">
                                <a href="" class="card-img-hover" title="#" target="_blank" z-st="home_main_card_cover">
                                    <img src="http://placehold.it/260x195/998866/ffffff" title="xxxx" alt="">
                                </a>
                            </div>
                            <div class="card-info">
                                <p class="card-info-title">
                                    <a href="#" title="年前年后-小米路由器Ax3600-WiFi6和一些C4D渲染" class="title-content" target="_blank" z-st="home_main_card_title" style="width: 178px;">年前年后-小米路由阿斯达所大所大所</a>
                                </p>
                                <p class="card-info-type" title="#">网页-电商
                                </p>
                                <p class="card-info-item">
                                    <span class="statistics-view" title="共4451浏览">1142</span>
                                </p>
                            </div>
                            <div class="card-item">
									<span class="user-avatar showMemberCard">
										<a href="#" title="次世xx文化" target="_blank" z-st="home_main_card_user">
											<img src="" srcset="http://placehold.it/420x336/ff3333/ffffff"
                                                 width="30" height="30" alt="">次世文化</a>
									</span>
                                <span class="time" title="#">5天前</span>
                            </div>
                        </div>
                        <div class="card-box">
                            <div class="card-img">
                                <a href="" class="card-img-hover" title="#" target="_blank" z-st="home_main_card_cover">
                                    <img src="http://placehold.it/260x195/990066/ffffff" title="xxxx" alt="">
                                </a>
                            </div>
                            <div class="card-info">
                                <p class="card-info-title">
                                    <a href="#" title="年前年后-小米路由器Ax3600-WiFi6和一些C4D渲染" class="title-content" target="_blank" z-st="home_main_card_title" style="width: 178px;">年前年年前年后-小米路由阿斯达所大所大所00-WiFi6和一些C4D渲染</a>
                                </p>
                                <p class="card-info-type" title="#">网页-电商
                                </p>
                                <p class="card-info-item">
                                    <span class="statistics-view" title="共4451浏览">1142</span>
                                </p>
                            </div>
                            <div class="card-item">
									<span class="user-avatar showMemberCard">
										<a href="#" title="次世xx文化" target="_blank" z-st="home_main_card_user">
											<img src="" srcset="http://placehold.it/420x336/ff3333/ffffff"
                                                 width="30" height="30" alt="">次世文化</a>
									</span>
                                <span class="time" title="#">5天前</span>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="container-area-right hide" id="left-data-account-focusBox">
                <div class="bg-box-radius">
                    <div class="tab-menu border-bottom">
                        <ul class="tab-box">
                            <li class="current"><a href="#">个人资料</a></li>
                            <li><a href="#" id="profile-preferences-focus">偏好设置</a></li>
                            <li><a href="#">账号安全</a></li>
                        </ul>
                    </div>
                    <div class="datum-item-box border-bottom">
                        <div class="text-center name-datum-box">
                            <div class="user-avatars" id="form-data-cover">
                                <div class="opacity-layer hide">修改头像</div>
                                <img src="https://static.zcool.cn/git_z/z/images/boy.png" srcset="https://static.zcool.cn/git_z/z/images/boy.png 2x" width="120" height="120" alt="">
                            </div>
                            <div class="hover z-center">
                                <span class="text-center modify-user-name">xiashiwole</span>
                                <a href="https://passport.zcool.com.cn/accountSafe.do?appId=1006" class="user-name-modify" target="_blank">修改</a>
                            </div>
                        </div>
                        <form class="layui-form" action="" style="position: relative;top: -200px;">
                            <div class="layui-form-item">
                                <label class="layui-form-label">邮箱</label>
                                <div class="layui-input-block">
                                    <input type="email" name="邮箱" required  lay-verify="required" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">名称</label>
                                <div class="layui-input-block">
                                    <input type="text" name="name" required  lay-verify="required" placeholder="请输入昵称" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">密码</label>
                                <div class="layui-input-block">
                                    <input type="password" name="password" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <input type="button" name="" value="保存" id="essential-information" class="btn-default-main btn-current-small mt-30 right">
                        </form>

<!--                        <div class="table-wrap">-->




<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer id="footer">

    </footer>
</div>
<div class="sidebar-fixed-wrapper js-sidebar-fixed" style="bottom: 40px;">
    <div class="back-to-top sidebar-fixed_box" z-st="shortcut_totop" style="display: none;"></div>
</div>

</div>
</footer>
<script>
    layui.use(['carousel', 'layer', 'laypage','form'], function() {
        var carousel = layui.carousel;
        var laypage = layui.laypage,
            layer = layui.layer,$=layui.$;
        $("#zHeader").load("[[@{/getHeader}]]");
        $("#footer").load("[[@{/getFooter}]]");
        //建造实例
        $(".menu-list-default").click(function () {
            var id=$(this).children("a").attr("id");
           $(".menu-list-default").removeClass("current");
           $(this).addClass("current");
           $(".container-area-right").addClass("hide");
           $("#"+id+"Box").removeClass("hide");
        })
    });
</script>
</body>
<html>
