<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>量子科技 (QCOOL) - 新手互动平台 - 打开量子科技，发现更好的源码！</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script th:src="@{/static/js/jquery-1.10.2.min.js}"></script>
    <script th:src="@{/static/js/jquery-migrate-1.2.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/main.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/passnumberbind.css}">
    <link rel="stylesheet" th:href="@{/static/css/personalProfile.css}">
    <link rel="stylesheet" th:href="@{/static/css/common.css}">
    <link rel="stylesheet" th:href="@{/static/css/jquery.mCustomScrollbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/layuiadmin/layui/css/layui.css}" />
    <script th:src="@{/static/layuiadmin/layui/layui.all.js}"></script>
    <!-- 这个js是公共的 -->
    <script th:src="@{/static/js/common.js}" type="text/javascript" charset="utf-8"></script>
    <style>
        .noclear{clear: none}
        .album-card-box .card-info .card-info-item span.statistics-view:before, .card-box .card-info .card-info-item span.statistics-view:before{
            background: url("[[@{/static/img/card-liulan.svg}]]") no-repeat 0 1px   !important;
            background-size: 16px auto !important;    display: inline-block;
            width: 16px;
            height: 16px;
            vertical-align: top;
            margin-right: 5px;
        }
    </style>
</head>
<body>
<div id="body">
    <header id="zHeader">

    </header>
    <main class="main-wrapper">
        <div class="container-area">
            <div class="container-area-left">
                <div class="card-media personal-card">
                    <div class="avatar-container-80 z-center">
                        <a href="javascript:;" title="xiashiwole" class="author-avatar" target="_blank" z-st="user_card_1_face" th:title="${session.userInfo.getWorkername()}">
                            <img th:src="${session.userInfo.getHeadimg()}"  th:srcset="${session.userInfo.getHeadimg()}" width="80" height="80"  th:title="${session.userInfo.getWorkername()}">
                        </a>

                    </div>
                    <div class="presonal-info">
                        <a href="javascript:;" class="author-name" target="_blank" th:text="${session.userInfo.getWorkername()}"  z-st="user_card_1_name"></a>
                    </div>
                    <div class="position-info">
        <span title="非会员用户" th:if="${session.userInfo.getIsvip()==0}">非会员用户

        </span>
                        <span title="会员用户" th:if="${session.userInfo.getIsvip()==1}" style="color: red">量子科技 | 会员用户
        </span>
                    </div>
                    <div class="btn-area">

                        <a href="javascript:;"  class="btn-default-main card-media-mid-btn js-upload">开始创作</a><br>


                        <a href="javascript:;" target="_blank" class="btn-default-secondary card-media-mid-btn mt-10">帮你的创作变现</a>
                    </div>

                </div>
                <div class="card-media personal-menu">
                    <ul class="menu-list">
                        <li class="menu-list-default current">
                            <i></i><a href="javascript:;" id="Collection">我的收藏</a>
                        </li>
                    </ul>
                    <ul class="menu-list">
                        <li class="menu-list-default">
                            <i></i><a href="javascript:;" id="left-data-account-focus">资料与账号</a></li>
                    </ul>
                </div>
                <!-- 消息列表左侧zhan广告 -->
                <div class="ad-media-list">
                    <a href="#" target="_blank"><img src="//static.zcool.cn/git_z/z/images/hellorf-ad.png" alt="海洛品牌广告"></a>
                </div>
            </div>
            <div class="container-area-right" id="CollectionBox">
                <div class="middle-title-wrap bg-box-radius">
                    <h2 class="middle-title">我的收藏</h2>
                </div>
                <div class="work-list-box mt-20">
                    <section class="container" style="height: auto;">
                        <div class="card-box" th:each="commodity,stat:${list}">
                            <div class="card-img">
                                <a th:href="@{/page/getCommodityDetail(id=${commodity.getId()})}" class="card-img-hover" title="#" target="_blank" z-st="home_main_card_cover">
                                    <img th:src="${commodity.getImgurl()}" title="" alt="" th:title="${commodity.getComname()}">
                                </a>
                            </div>
                            <div class="card-info">
                                <p class="card-info-title">
                                    <a th:href="@{/page/getCommodityDetail(id=${commodity.getId()})}" th:title="${commodity.getComname()}" th:text="${commodity.getComname()}" class="title-content" target="_blank" z-st="home_main_card_title" style="width: 178px;"></a>
                                </p>
                                <p class="card-info-type" title="#" th:text="${commodity.getCategory()}">
                                </p>
                                <p class="card-info-item">
                                    <span class="statistics-view" th:title="${commodity.getBrowsenum()}" th:text="${commodity.getBrowsenum()}"></span>
                                </p>
                            </div>
                            <div class="card-item">
									<span class="user-avatar showMemberCard">
										<a href="javascript:;" th:title="${commodity.getComUser()}" target="_blank" z-st="home_main_card_user">

											<img th:src="${commodity.getUserImg()}" th:srcset="${commodity.getUserImg()}" width="30" height="30" alt=""/>
											<span th:text="${commodity.getComUser()}"></span>
										</a>
									</span>
                                <span class="time" title="发布时间" th:text="${#dates.format(commodity.insertTime, 'yyyy-MM-dd')}">5天前</span>
                            </div>
                        </div>
                        <div id="page" class="layui-row" style="margin-left: 40%;padding-bottom: 50px;"></div>
                    </section>
                </div>
            </div>
            <div class="container-area-right  hide" id="left-data-account-focusBox">
                <div class="bg-box-radius">
                    <div class="tab-menu border-bottom">
                        <ul class="tab-box">
                            <li class="current"><a href="#">个人资料</a></li>
                            <li><a href="#" id="profile-preferences-focus">偏好设置</a></li>
                            <li><a href="#">账号安全</a></li>
                        </ul>
                    </div>
                    <div class="datum-item-box border-bottom">
                        <div class="text-center name-datum-box">
                            <div class="user-avatars" id="form-data-cover">
                                <div class="opacity-layer hide">修改头像</div>
                                <img th:src="${session.userInfo.getHeadimg()}"  th:srcset="${session.userInfo.getHeadimg()}"  width="120" height="120" alt="">
                            </div>
                            <input type="file" class="hide" id="headimg" onchange="upload()">
                            <div class="hover z-center">
                                <span class="text-center modify-user-name"  th:text="${session.userInfo.getWorkername()}">xiashiwole</span>
                                <a href="" class="user-name-modify" target="_blank">修改</a>
                            </div>
                        </div>
                        <div class="passcon account-wrap" style="height: 500px;">
                            <div class="account-number-tab">
                                <span class="current-status">帐号安全</span> <span>第三方帐号绑定</span>
                            </div>
                            <div class="account-num-box" style="clear: both;position: relative;top: -200px;">
                                <div class="account-num-tabcon">
                                    <p class="first-line">
                                        <span class="account-title">登录账号</span><span class="account-tips-text"><span th:text="${session.userInfo.getAccount()}">xiashiwole</span>
								</span>

                                        <a href="javascript:;" onclick="modifyUname()" class="btn-default-main">修改</a>

                                    </p>
                                    <p>
                                        <span class="account-title">登录邮箱</span>

                                        <span class="account-tips-text" th:text="${session.userInfo.getEmail()}"></span>


                                        <a href="javascript:;" onclick="modifyemail(1)" class="btn-default-main">绑定</a>

                                    </p>
                                    <p>
                                        <span class="account-title">登录密码</span><span class="account-tips-text two-line-txt">密码要求至少包含字母，符号或数字中的两项且长度超过8位，建议您经常修改密码，以保证帐号更加安全。</span>
                                        <a href="javascript:;" id="modifysafepwd" class="btn-default-main">修改</a>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer id="footer" >

    </footer>
</div>
<div class="sidebar-fixed-wrapper js-sidebar-fixed" style="bottom: 40px;">
    <div class="back-to-top sidebar-fixed_box" z-st="shortcut_totop" style="display: none;"></div>
</div>

</div>
</footer>
<script>
    layui.config({
        base: '[[@{/static/js/}]]' //设定扩展的 layui 模块的所在目录，一般用于外部模块扩展
    });
    layui.use(['carousel', 'layer', 'laypage','form','common'], function() {
        var carousel = layui.carousel;
        var laypage = layui.laypage,
            layer = layui.layer,$=layui.$;
        //建造实例
        $(".menu-list-default").click(function () {
            var id=$(this).children("a").attr("id");
           $(".menu-list-default").removeClass("current");
           $(this).addClass("current");
           $(".container-area-right").addClass("hide");
           $("#"+id+"Box").removeClass("hide");
        })
        var state='[[${state}]]';
        $(".menu-list-default").removeClass("current");
        if (state=="1"){
            //state等于1表示默认打开收藏页面
            $("#Collection").parent().addClass("current");
            $(".container-area-right").addClass("hide");
            $("#CollectionBox").removeClass("hide");
        }else {
            //state等于2表示打开账号与资料页面
            $("#left-data-account-focus").parent().addClass("current");
            $(".container-area-right").addClass("hide");
            $("#left-data-account-focusBox").removeClass("hide");
        };
        laypage.render({
            elem: 'page'
            , count: '[[${total}]]' //数据总数，从服务端得到
            , limit: '[[${pageSize}]]'
            , curr:  '[[${pageNum}]]'
            // , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
            ,theme: '#ffe300'
            ,prev: '<'
            ,next: '>'
            , jump: function (obj, first) {
                //obj包含了当前分页的所有参数，比如：
                // console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                // console.log(obj.limit); //得到每页显示的条数
                //首次不执行
                if (!first) {
                    //do something
                    var href = '[[@{/page/center(state=)}]]';
                    href += '&pageNum=' + obj.curr;
                    href += '&pageSize=' + obj.limit;
                    console.log(href)
                    location.href = href;
                }

            }
        });
        $("#form-data-cover").click(function () {
            $("#headimg").click();
        });
    });
    function upload(){
        var animateimg = $("#headimg").val(); //获取上传的图片名 带//
        var imgarr=animateimg.split('\\'); //分割
        var myimg=imgarr[imgarr.length-1]; //去掉 // 获取图片名
        var houzui = myimg.lastIndexOf('.'); //获取 . 出现的位置
        var ext = myimg.substring(houzui, myimg.length).toUpperCase();  //切割 . 获取文件后缀

        var file = $('#headimg').get(0).files[0]; //获取上传的文件
        var fileSize = file.size;           //获取上传的文件大小
        var maxSize = 1048576*10;              //最大1MB
        if(ext !='.PNG' && ext !='.GIF' && ext !='.JPG' && ext !='.JPEG' && ext !='.BMP'){
            parent.layer.msg('文件类型错误,请上传图片类型');
            return false;
        }else if(parseInt(fileSize) >= parseInt(maxSize)){
            parent.layer.msg('上传的文件不能超过10MB');
            return false;
        }else{
            var formData=new FormData();
            formData.append('file',document.getElementById("headimg").files[0]);
            // var data = new FormData($('#form1')[0]);
            $.ajax({
                url: "[[@{/page/modifyHeadImg}]]",
                type: 'POST',
                data: formData,
                dataType: 'JSON',
                cache: false,
                processData: false,
                contentType: false,
                success:function (data) {
                    if (data.type=="success"){
                        layer.msg(data.msg,{icon:1,time:1000*3});
                        window.location.reload();
                    } else {
                        layer.msg(data.msg,{icon:5,time:1000*3});
                    }
                }
            });
            return false;
        }}
</script>
</body>
<html>
