<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="ie=edge" http-equiv="x-ua-compatible" />

    <meta class="next-head" content="width=device-width,minimum-scale=1,initial-scale=1" name="viewport" />
    <meta charSet="utf-8" class="next-head" />
    <title>量子科技</title>
    <link rel="stylesheet" th:href="@{/static/css/main.min.css}">
    <link th:href="@{/static/css/style.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/index.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/layuiadmin/layui/css/layui.css}" />
    <link rel="stylesheet" th:href="@{/static/css/vipPage.css}" />
    <link rel="stylesheet" th:href="@{/static/css/styles.3bcdd37f.chunk.css}" />
    <script th:src="@{/static/js/jquery-1.10.2.min.js}"></script>
    <script th:src="@{/static/layuiadmin/layui/layui.all.js}"></script>
    <!-- 这个js是公共的 -->
    <script th:src="@{/static/js/common.js}" type="text/javascript" charset="utf-8"></script>
</head>
<style>
    #footer{
        position: relative;
    }
</style>
<body>
<!--<span><svg id="__SVG_SPRITE_NODE__" style="position: absolute; width: 0; height: 0"-->
<!--                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg></span>-->
<header id="zHeader">
</header>

<div id="__next">
    <main class="nhpea-0 kzNvAp">
        <h2 class="mkwns5-3 fpRhWK" color="black3" size="28">确认订单信息</h2><span class="mkwns5-3 jahCVD" color="pewter">请在30分钟内完成支付，否则订单会被自动取消</span>
<!--        <section class="mkwns5-2 cQXDxy">-->
<!--            <div class="sc-bdVaJa sc-1dicbpi-0 jKcXPz" direction="row" wrap="initial"><img class="avatar" src="https://image.gogoup.com/head/default_image.png" />-->
<!--                <div class="mkwns5-2 flUthi"><span class="mkwns5-3 cmqmBL" color="black3">xiashiwole</span><span class="mkwns5-3 jGQChC"-->
<!--                                                                                                                 color="spruce">我的余额：<span class="mkwns5-3 DbOfC" color="red">￥-->
<!--                    &lt;!&ndash; &ndash;&gt;0.00</span></span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
        <section class="mkwns5-2 bvmPMQ">
            <span class="mkwns5-3 dWLhIZ" color="black3" size="18">购买信息</span>
            <div class="sc-bdVaJa te8jfa-1 iwWUOb" direction="row" wrap="initial">
                <span class="mkwns5-3 fUKbaC" color="#333333" size="14" width="458">会员等级</span>
                <span class="mkwns5-3 jUMxYN" color="#333333" size="14" width="230">价格</span>
                <span class="mkwns5-3 hRLkqm" color="#333333" size="14" width="190">有效期</span>
                <span class="mkwns5-3 llmGST" color="#333333" size="14" width="258">实付</span>
            </div>
            <section class="sc-1sm0qqc-0 ibNFvJ">
                <section class="sc-1sm0qqc-1 WWTQK">
                    <div class="sc-bdVaJa sc-1sm0qqc-2 gHBKAm" direction="row" wrap="initial">
                        <div class="sc-bdVaJa te8jfa-0 jfsAhC name_info" direction="row" wrap="initial">
                            <div class="course_image">
                                <img class="sc-17u5avv-0 euoqHf img" src="http://placehold.it/420x336/7799ed/ffffff" />
                            </div>
                            <div class="info">
                                <span class="mkwns5-3 jAcCiK" color="black3" size="16" style="line-height: 5!important;">永久VIP会员</span>
<!--                                <span class="mkwns5-3 bwvQgo" color="pewter" size="14"></span>-->
                            </div>
                        </div>
                        <div class="sc-bdVaJa iRGJkS price_info" direction="column" style="width:230px" wrap="initial">
									<span class="mkwns5-3 cYpwtS" color="#333333" size="16">¥
                                        <!-- -->399.00</span>
                            <div class="sc-bdVaJa dRXRaK" direction="row" wrap="initial">
                            </div>
                        </div>
                        <span class="mkwns5-3 yOJVr in_date" color="#333333" size="16" width="190">永久有效</span>
                        <section class="sc-1sm0qqc-3 brVsQt actual_pay"><span class="mkwns5-3 cfpSHp" color="red" size="16">¥
                            <!-- -->349.00</span></section>
                    </div>
                </section>
            </section>
        </section>
        <section class="mkwns5-2 bvmPMQ"><span class="mkwns5-3 dWLhIZ" color="black3" size="18">支付方式</span>
            <section class="mkwns5-2 bNFXpS">
                <div class="sc-bdVaJa jKzBeP" direction="row" wrap="wrap">
                    <div class="sc-bdVaJa h0zrjv-0 hKpohB" direction="row" width="362" wrap="initial">
                        <!--<i class="sc-6ypqvg-0 ewoRWJ" size="20"></i>-->
                        <i class="sc-6ypqvg-0 fFVbFB" size="20"></i>
                        <svg class="xuvw34-0 jnNSns" color="#333333" cursor="pointer" height="40" width="40">
                            <use xlink:href="#icon-alipay">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" id="icon-alipay" width="100%" height="100%">
                                    <g fill-rule="nonzero" fill="none">
                                        <path d="M0 0h50v50H0z"></path>
                                        <path d="M44.953 36.668v.236c0 3.524-2.877 6.408-6.392 6.408H11.4c-3.515 0-6.392-2.884-6.392-6.408V9.767c0-3.523 2.877-6.407 6.392-6.407h27.168c3.516 0 6.393 2.884 6.393 6.407v20.659l-.008 6.242zM15.79 34.106c-6.234 0-8.07-4.886-4.957-7.606 1.04-.882 2.876-1.363 3.917-1.442 3.673-.402 7.11 1.04 11.184 3.042-2.948 3.69-6.55 6.006-10.144 6.006zm22.132-5.682c-1.6-.56-3.752-1.364-6.155-2.239 1.434-2.483 2.553-5.367 3.357-8.41H27.22V14.97h9.663v-1.6H27.21V8.65h-3.917c-.718 0-.718.716-.718.716v4.083h-9.742v1.6h9.75v2.72h-8.07v1.6h15.66c-.56 2.001-1.355 3.846-2.238 5.525-5.036-1.68-10.467-3.043-13.903-2.16-2.16.56-3.595 1.521-4.399 2.483-3.751 4.563-1.04 11.53 6.873 11.53 4.714 0 9.27-2.64 12.785-6.967 5.273 2.562 15.66 6.889 15.66 6.889v-6.164s-1.276-.157-7.03-2.08z"
                                              fill="#00A0E9"></path>
                                    </g>
                                </svg>
                            </use>
                        </svg>
                        <span class="mkwns5-3 yaHBR" color="black3" size="18">支付宝支付</span>
                        <span class="mkwns5-3 hyikvo tip" color="red" size="14">支持花呗分期</span>
                        <span class="mkwns5-3 fjjkah message" color="pewter" size="14">有可能会消费限制无法使用花呗</span>
                    </div>
                    <div class="sc-bdVaJa h0zrjv-0 hKpohB" direction="row" width="362" wrap="initial">
                        <i class="sc-6ypqvg-0 fFVbFB" size="20"></i>
                        <svg class="xuvw34-0 jnNSns" color="#333333" cursor="pointer" height="40" width="40">
                            <use xlink:href="#icon-wechat"></use>
                        </svg>
                        <span class="mkwns5-3 yaHBR" color="black3" size="18">微信支付</span>
                    </div>
                </div>
                <div class="sc-35388k-0 jMyRcT">
<!--                    <span class="mkwns5-3 chbdki" color="black3">优惠券</span>-->
                    <div class="sc-bdVaJa dRXRaK" direction="row" wrap="initial">
                        <div class="sc-EHOje enzxVV">
                            <div class="select_list_dropdown">
                                <div aria-expanded="false" class="sc-bZQynM cdqmKR" data-text="true">
                                    <div class="" direction="row" style="" wrap="initial">
<!--                                        <span class="mkwns5-3 cxvoCM" color="grayB"></span>-->
                                        <svg class="xuvw34-0 eWBvuY arrow_pulldown" color="#1f1f1f" cursor="pointer" height="20" style="transition:transform ease 0.3s;transform:rotate(0deg)"
                                             width="20">
                                            <use xlink:href="#icon-arrow-pulldown">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" id="icon-wechat" width="100%" height="100%">
                                                    <g fill="none" fill-rule="evenodd">
                                                        <path d="M0 0h50v50H0z"></path>
                                                        <path d="M18.5 29.804a1.317 1.317 0 0 1-.625.144c-.532 0-.965-.288-1.207-.72l-.098-.19-3.808-8.262c-.047-.097-.047-.19-.047-.287 0-.386.29-.673.676-.673.145 0 .29.046.434.143l4.483 3.17c.336.19.723.335 1.156.335.242 0 .48-.047.722-.144l21.025-9.315C37.45 9.586 31.232 6.704 24.19 6.704c-11.475 0-20.829 7.732-20.829 17.284 0 5.185 2.797 9.89 7.182 13.06.336.242.578.674.578 1.106 0 .143-.046.287-.098.431-.335 1.295-.918 3.412-.918 3.504a1.756 1.756 0 0 0-.098.53c0 .385.29.673.676.673a.548.548 0 0 0 .387-.144l4.53-2.641c.336-.19.723-.334 1.11-.334.19 0 .433.046.624.097 2.12.622 4.437.96 6.8.96 11.475 0 20.829-7.732 20.829-17.284 0-2.882-.867-5.616-2.363-8.02l-23.956 13.78-.145.098z"
                                                              fill="#09BB07"></path>
                                                    </g>
                                                </svg>
                                            </use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        <span class="mkwns5-3 bKAprU" color="primary" cursor="pointer">兑换优惠券</span>-->
                    </div>
                </div>
            </section>
        </section>
        <div class="mkwns5-2 kyJfiJ">
            <div class="sc-bdVaJa kyxBVH" direction="column" wrap="initial">
                <div class="sc-bdVaJa sc-1kpismd-0 iOhRWR" direction="row" wrap="initial">
                    <span class="mkwns5-3 gLdvqf" color="spruce" size="16">总价：</span><span class="mkwns5-3 fOovtj" color="black3" size="16">￥<span id="totalMoney">349.00</span></span></div>
                <div class="sc-1kpismd-1 bwJCtO">
                    <div class="sc-bdVaJa sc-1kpismd-0 iOhRWR" direction="row" wrap="initial">
                        <span class="mkwns5-3 gLdvqf" color="spruce" size="16" style="white-space:nowrap">需付金额：</span>
                        <span style="white-space:nowrap">
                            <span class="mkwns5-3 iilvsC" color="red" size="22">￥</span>
                            <span class="mkwns5-3 jSYHru" color="red" size="32">349.00</span>
                        </span>
                    </div>
                </div>
                <button class="sc-1w2kt5i-0 cXxziS" color="white" height="48" size="16" width="170">立即支付</button>
<!--                <span class="mkwns5-3 dGnuEP" color="pewter">录播和直播答疑课程属于虚拟商品，购买后无特殊原因，不支持退款</span>-->
                <div class="sc-bdVaJa dRXRaK" direction="row" wrap="initial">
                    <div class="sc-bdVaJa dRXRaK" direction="row" wrap="initial">
                        <svg class="xuvw34-0 hYuBIM" cursor="pointer" height="14" width="14">
                            <use xlink:href="#icon-checkbox-selected"></use>
                        </svg>
                    </div>
                    <span class="mkwns5-3 gOowed" color="pewter">购买
                        <!-- -->会员
                        <!-- -->，即代表同意</span><a href="javascritp:;" target="_blank"><span class="mkwns5-3 deRayl" color="link" cursor="pointer">《量子科技服务协议》</span></a>
                </div>
            </div>
        </div>
    </main>
</div>
<footer id="footer">

</footer>
<script>
    layui.config({
        base: '[[@{/static/js/}]]' //设定扩展的 layui 模块的所在目录，一般用于外部模块扩展
    });
    layui.use(['carousel', 'layer', 'laypage','common'], function() {
        var carousel = layui.carousel;
        var laypage = layui.laypage,
            layer = layui.layer,$=layui.$;
    });
</script>
</body>
</html>
